server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true 
      routes:
        - id: book-service
          uri: lb://book-service
          predicates:
            - Path=/api/books/**
        - id: borrowing-service
          uri: lb://borrowing-service
          predicates:
            - Path=/api/borrowing/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
