server:
  port: 8081
spring:
  application:
    name: book-service
  datasource:
    url: jdbc:mysql://localhost:3306/book_db
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
