server:
  port: 8083
spring:
  application:
    name: borrowing-service
  datasource:
    url: jdbc:mysql://localhost:3306/borrowing_db
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
